.frame-2,
.frame-2 * {
  box-sizing: border-box;
}
.frame-2 {
  width: 430px;
  height: 932px;
  position: relative;
  overflow: hidden;
}
.tela-1 {
  width: 430px;
  height: 929.84px;
  position: absolute;
  left: 0px;
  top: -3px;
}
.rectangle-transparente {
  background: #ffffff;
  border-radius: 20px;
  width: 348px;
  height: 590px;
  position: absolute;
  left: 38px;
  top: 280px;
}
.retalhino-name-1 {
  width: 346px;
  height: 136px;
  position: absolute;
  left: 39px;
  top: 110px;
}
.esqueceu-a-senha {
  color: #c10000;
  text-align: center;
  font: 700 14px "Inria Sans", sans-serif;
  position: absolute;
  left: 108px;
  top: 760px;
  width: 208px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-a-seu-login {
  color: #c10000;
  text-align: left;
  font: 700 30px "Inria Sans", sans-serif;
  position: absolute;
  left: 120px;
  top: 304px;
}
.box-login {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 57px;
  position: absolute;
  left: 136px;
  top: 652px;
}
.ret-ngulo-login {
  background: #c10000;
  border-radius: 5px;
  border-style: solid;
  border-color: #c10000;
  border-width: 3px;
  width: 152px;
  height: 57px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.login {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Inria Sans", sans-serif;
  position: absolute;
  left: 0.72px;
  top: 0px;
  width: 150.55px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-google {
  width: 61px;
  height: 60px;
  position: absolute;
  left: 182px;
  top: 365px;
}
.ellipse-1 {
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: #c10000;
  border-width: 2px;
  width: 61px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.icon-google {
  position: absolute;
  left: 10.84px;
  top: 10px;
  overflow: visible;
}
.senha-login {
  width: 208px;
  height: 57px;
  position: absolute;
  left: 108px;
  top: 564px;
}
.ret-ngulo-senha {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  border-style: solid;
  border-color: #c10000;
  border-width: 3px;
  width: 208px;
  height: 57px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.senha {
  color: #c10000;
  text-align: left;
  font: 400 16px "Inria Sans", sans-serif;
  position: absolute;
  left: 11px;
  top: 0px;
  width: 195px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ou {
  color: #c10000;
  text-align: center;
  font: 700 14px "Inria Sans", sans-serif;
  position: absolute;
  left: 108px;
  top: 425px;
  width: 208px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-o-tem-conta-crie-uma {
  text-align: center;
  font: 400 14px "Inria Sans", sans-serif;
  position: absolute;
  left: 109px;
  top: 783px;
  width: 208px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-o-tem-conta-crie-uma-span {
  color: #c10000;
  font: 400 14px "Inria Sans", sans-serif;
}
.n-o-tem-conta-crie-uma-span2 {
  color: #4285f4;
  font: 400 14px "Inria Sans", sans-serif;
  text-decoration: underline;
}
.email-login {
  width: 208px;
  height: 57px;
  position: absolute;
  left: 108px;
  top: 476px;
}
.ret-ngulo-email {
  border-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.email {
  color: #c10000;
  text-align: left;
  font: 400 16px "Inria Sans", sans-serif;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 195px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
